/*-----------------------------------
    COLORS
-----------------------------------*/
$color-primary: #e0752f;
$primary: $color-primary;
$color-gray: #dce1da;

/*-----------------------------------
    FONTS
-----------------------------------*/
$font-primary: 'Roboto', sans-serif;
$font-normal: 400;
$font-bold: 700;
$font-lighter: 300;